@media only screen and (max-device-width: 480px) {
  .image--des-description {
    text-align: center !important;
  }
}

.image--des--inner--box {
  position: relative;
  max-width: 50vw;
  text-align: center;
  margin: auto;
  padding: 2.5rem 2.5rem;
}

.image--des-title {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 5vmin;
}

.image--des-year {
  font-family: "EB Garamond", serif;
  font-size: 2vmin;
  margin-bottom: 0;
}

.image--des-photographer {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-size: 2vmin;
  margin: 0;
}

.image--des-description {
  font-family: "EB Garamond", serif;
  margin-top: 2rem;
  text-align: justify;
}
